@charset "UTF-8";
/* Add your custom CSS declarations below  */


.navbar-brand {
	background-image: url("../images/PNW-travel-logo.svg");
	width: 200px;
	height: 100px;
	background-repeat: no-repeat;
}

.navbar {
	padding: 25px 125px;
}

.btn:link {
	box-shadow: none;
	outline: none;
	background-color: #275439;
}

.btn:visited {
	box-shadow: none;
	background-color: #275439;
}

.btn:hover {
	background-color: #172616;
}

.btn:focus , .btn:active {
	box-shadow: none;
	outline: none;
	background-color: #275439;
}

.jumbotron {
  /*color: white;*/
  background-image: url("../images/main_header.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}

.intro {
	font-family: 'Poppins','sans serif';
	font-weight: 800;
	padding-top: 200px;
	text-align: center;
	color: #333;
}

.subset {
	font-family: 'Poppins','sans serif';
	font-weight: 400;
	text-align: center;
	font-size: 40px;

}



.fa-tree {
	display: flex;
	justify-content: space-around;
    font-size: 40px;
}

.card {
	height: 100%;
}

footer { 
  padding: 0 20px;
  height: 300px;
  background-color: #333;
  background-image: url("../images/PNW-travel-logo-white.svg");
  background-repeat: no-repeat;
  background-size: 150px;
  text-align: center;
  background-position: center;
}

.copyright {
	color: #f5f2d0;
	padding-top: 215px;
}









